@media screen and (min-width: 600px)  {

  .inputPage {
    border: 2px solid red;
    max-width: 375px;

      .desktop_header {
        height: 159px;
        width: 100%;
        border-bottom: 6px solid #C1C0C0;
      position: absolute;
      z-index: 2;
      }


  }

  // #root{
  //   background-color: rgba(166,202,212, .2);
  //   background-size: 100%;
  // }
}
