.error {
  border-bottom: 1px solid red !important;
}

.inputBottomPage {
  border: 2px solid red;
  background-color: $clr-background;
  color: $clr-dark-blue;
  // margin-top: 8em;
}

.form {
  border: 2px solid green;
  margin: 1.5em;
  padding: 0.5em 0.5em;
}

h1 {
  color: $clr-blue;
  font-size: 28px;
  text-align: center;
}

span {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="text"], input[type="number"] {
    background-color: $clr-background;
    border: 0 solid transparent;
    border-bottom: 1px solid $clr-dark-blue;
    color: $clr-red;
    display: inline;
    font-size: 24px;
    margin: 0.3em 0.5em;
    outline: none;
    text-align: center;
    padding: 0 0.25em;

    &:focus {
        outline: none;
    }
}

input[type="number"] {
  width: 50px;
}

input[type="submit"] {
  background-color: $clr-red;
  border-radius: 6px;
  color: white;
  margin: 10px 2px;
  padding: 16px 32px;
}

.toggle {
  align: center;
}

.input_center {
  align-items: center;
  display: flex;
  justify-content: center;


  .div_dropdown {
    text-align: left;
  }
}

.input_drop_align {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
