
input[type="text"], input[type="number"] {
    border: none;
    border-bottom: 1px solid purple;
    display: inline;
    margin: 0 0.5em;
    outline: none;
    padding: 0 0.25em;

    &:focus {
        outline: none;
    }
}
