
.st0 {
  fill: #FCFCFC;
//  stroke: #EE4031;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  //stroke: #EE4031;
  stroke-width: 2;
  stroke-miterlimit: 10;

}


.line {
    stroke: #EE4031;
}
