.Dropdown {
    color: $clr-dark-blue;
    display: flex;
    margin: 0.18em 0.5em;
}

.SmllDrop {
  min-width: 114px;
}

.RegDrop {
  min-width: 130px;
}

.Select-clear-zone {
display: none !important;
}
