.refNum {
  fill: $clr-gray-70,
}
.lines {
  fill: $clr-gray-90,
}
.graphBase {
  fill: $clr-dark-blue,
}
.BMI_Graph_pointer {
  fill: $clr-background-NoGradient,
}

.notAlert {
  fill: $clr-gray-70,
}
.alert {
  fill: $clr-red,
}
.medAlert {
  fill: $clr-light-red,
}
.goodResults {
  fill: $clr-blue,
}
