.refNum {
  fill: $clr-gray-70,
}
.lines {
  fill: $clr-gray-90,
}
.graphBase {
  fill: $clr-dark-blue,
}
.BMI_Graph_pointer {
<<<<<<< HEAD
  fill: $clr-background-NoGradient,
=======
  fill: $clr-extra-light-blue,
>>>>>>> 0dd54fe5b342214a57d09b29535ffe57ad32c9a7
}

.notAlert {
  fill: $clr-gray-70,
}
.alert {
  fill: $clr-red,
}
.medAlert {
  fill: $clr-light-red,
}
.goodResults {
  fill: $clr-blue,
}
