@keyframes googlyEyes {
  5% {transform: translateY(5px);}
  50% {transform: translateY(0);}
  65% {transform: translateX(2px);}
  85% {transform: translateX(-2px);}
  100% {transform: translateX(0);}
}

.st0{
  fill: $clr-extra-light-blue;
}
.st1{
  fill:#C1C0C0;
}
.st3{
  display:none;
  fill:#444444;
}
.mouth{
  fill:#444444;
}
.st5{
  opacity:0.7;fill:$clr-super-light-blue;
  enable-background:new;
}
.st6{
  fill:#FFFFFF;
}
.st7{
  fill: $clr-red;
}

.eyes {
  animation: googlyEyes 4s infinite;
  animation-delay: 4s;

  fill:#444444;
}
