.pulseInstructions {
  background-color: $clr-background;


    img.pulse {
      padding: 0.7em;
      max-width: 60%;
      height: auto;
      margin: auto;
      display: block;
    }


    .images {
      margin: auto;
      width: 80%;
    }

    .or {
      padding: 0;
      margin: 0 !important;
    }
}
