@keyframes RadialProgress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.RadialRing {
    transform-origin: center;
    transform: scale(0.95);

    path {
        stroke-width: 5;
    }
}

.Radial {
    overflow: visible;

    text {
        font-size: 10px;
        font-weight: bold;
    }

    .low_risk {
        @extend .RadialRing;
        .background {
            stroke: transparentize($clr-light-blue, 0.75);
        }
        .completed {
          animation: RadialProgress 1s ease-in-out forwards;
          stroke: $clr-light-blue;
        }
        text {
          fill: $clr-light-blue;
        }
    }

    .intermediate {
        @extend .RadialRing;
        .background {
            stroke: transparentize($clr-light-red, 0.75);
        }
        .completed {
          animation: RadialProgress 1s ease-in-out forwards;
          stroke: $clr-light-red;
        }
        text {
          fill: $clr-light-red;
        }
    }

    .high_risk {
        @extend .RadialRing;
        .background {
            stroke: transparentize($clr-red, 0.75);
        }
        .completed {
          animation: RadialProgress 1s ease-in-out forwards;
          stroke: $clr-red;
        }
        text {
          fill: $clr-red;
        }
    }



}



.DualRadial {
    @extend .Radial;
}

.radialGraph {
  width: 28%;
  margin: auto;
  padding: 0.5em;
}
